.mF_games_tb_wrap{padding:8px;border:1px solid #CCC;border-radius: 3px;float:left;background:#FFF;}/*鑳屾櫙杈规*/
.mF_games_tb {background:#E6E6E6; position:relative;}
.mF_games_tb .loading{ position:absolute; width:100%; height:100%; background:#FFF url(img/loading.gif) center no-repeat; z-index:9;}
.mF_games_tb .pic{position:absolute;top:0;left:0;}
.mF_games_tb .pic li{position:absolute;width:100%;height:100%;overflow:hidden;display:none;}
.mF_games_tb .thumb{position:absolute;bottom:0;left:0;overflow:hidden;}
.mF_games_tb .thumb ul{position:absolute;top:0 !important;left:0;}
.mF_games_tb .thumb ul li{position:relative;float:left;overflow:hidden;cursor:pointer;}
.mF_games_tb .thumb ul li a{display:block;border:3px solid #FFF;border-radius: 3px;margin:10px 4px;}
.mF_games_tb .thumb ul li img{position:relative;z-index:1;width:100%;height:100%;}
.mF_games_tb .thumb ul li.current{background:url(images/ar.gif) center 5px no-repeat;}
.mF_games_tb .thumb ul li.current a{border-color:#D21E45;}
.mF_games_tb .txt li{position:absolute;z-index:2;width:100%;height:32px;line-height:32px;overflow: hidden;display:none;}/*榛樿鏍囬楂樺害*/
.mF_games_tb .txt li a{display:block;position:relative;z-index:1;color:#FFF;padding: 0 10px;font: bold 14px/32px "寰蒋闆呴粦","榛戜綋",Arial;text-decoration:none;}/*鏍囬鏍峰紡*/
.mF_games_tb .txt li a:hover{color: #FFF !important;}
.mF_games_tb .txt li b{display:block;height:100%;width:100%;position:absolute;top:0;left:0;background:#000;filter:alpha(opacity=50);opacity:0.5;}
.mF_games_tb .prev,.mF_games_tb .next{font:bold 28px/28px arial;width:16px;overflow:hidden;position:absolute;z-index:4;left:3px;bottom:29px;cursor:pointer;}
.mF_games_tb .next{left:auto;right:0;}
.mF_games_tb .prev a,.mF_games_tb .next a{display:block;color:#666;text-align:center;text-decoration:none;}
.mF_games_tb .prev a:hover,.mF_games_tb .next a:hover{color:#D21E45 !important;}
