@{
    ViewBag.Title = "中国钢铁现货网 - 国内钢材的网上集散地";
    ViewBag.ContentTitle = "中国钢铁现货网";
    ViewBag.PCurl = "http://www.gtxh.com";
    ViewBag.BackButton = false;
    ViewBag.BackUrl = "javascript:history.go(-1)";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<div class="header-line1">
</div>
<center>
    <h2>
        欢迎访问中国钢铁现货网微信站!请关注我们的公众微信,在微信中访问此站点!</h2>
</center>
