<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" timeout="40"></sessionState>
    <customErrors mode="Off" />
  </system.web>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl ="Manage/login.aspx" protection="None" path="Manage"></forms>
    </authentication>
  </system.web>
  <location path="manage">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="manage/CheckCodeImg.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="manage/css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="manage/js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="manage/images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="manage/fckeditor">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <!--数据库连接字符串-->
    <add key="mainconn" value="App_Data/#justgo#.mdb" />
    <add key="mssqlconn" value="data source=59.36.96.132;User ID=a0321173731;pwd=314159;Initial Catalog=a0321173731"/>
    <!--上传文件大小限制（Mb为单位）-->
    <add key="fileSize" value="10" />
    <!--FCKeditor编辑器引用-->
    <add key="FCKeditor:BasePath" value="~/Manage/fckeditor/" />
    <add key="FCKeditor:UserFilesPath" value="~/Upload/WebEdits/" />
    <add key="FCKeditor:FolderPattern" value="%y/%m/%d/" />
    <add key="sitename" value="中联国际旅行社"/>
  </appSettings>
</configuration>
